<ion-header>

  <ion-navbar>
    <ion-title>Crear pedido</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">
  <ion-card>
    <img src="{{ url }}imagen/pelicula/{{funcion.pelicula.image}}?token={{ token }}" />
    <div class="card-title">{{ funcion.pelicula.titulo }}</div>
    <div class="card-subtitle">
      <p>{{ funcion.pelicula.director }}</p>
      <p>Sala: {{ funcion.sala }}</p>
      <p>Fcha: {{funcion.fecha}} | {{funcion.hora}}</p>
    </div>
  </ion-card>

  <ion-segment [(ngModel)]="paso">
    <ion-segment-button value="boletos">
      <ion-icon name="film"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="asientos">
      <ion-icon name="apps"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="productos">
      <ion-icon name="cart"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="pago" (click)="actualizaPedido()">
      <ion-icon name="card"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="paso">
    <div *ngSwitchCase="'boletos'" padding>
      <h2>Selecciona boletos</h2>
      
      <div id="seleccion_boletos">
        <ion-list>
          <ion-item *ngFor="let boleto of boletos">
            <div class="contenedor_tipo_boleto">
              <div>
                <span>{{ boleto.nombre }}</span>
              </div>
              <div>
                <span class="precio_boleto">${{ boleto.precio }}</span>
              </div>
              <div class="row" justify-content-center>
                <div class="row" justify-content-around>
      
                  <button ion-button clear icon-only (click)="cantidadBoleto(boleto.id, false)">
                    <ion-icon name="remove-circle"></ion-icon>
                  </button>
      
                  <span>{{ boleto.cantidad }}</span>
      
                  <button ion-button clear icon-only (click)="cantidadBoleto(boleto.id, true)">
                    <ion-icon name="add-circle"></ion-icon>
                  </button>
      
                </div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
    
    <div *ngSwitchCase="'asientos'" padding>
      <h2>Selecciona tus lugares</h2>

      <div id="contador_lugares_seleccionados">
        <p>lugares disponibles: {{ boletosDisponibles }}</p>
      </div>

      <div id="pantalla">PANTALLA</div>
      <div class="vista_asientos">
        <div *ngFor="let fila of sala; let i = index">
          <div *ngFor="let asiento of fila">
            <input type="checkbox" id="asiento_{{ asiento.letter + asiento.val }}"
                  [disabled]="asiento.seat || (boletosDisponibles <= 0 && !asiento.check)"
                  [checked]="asiento.check"
                  (click)="seleccionaAsiento(asiento)">
            <label for="asiento_{{ asiento.letter + asiento.val }}" [ngClass]="{'en_uso': asiento.seat == true}">
              {{ asiento.letter.toUpperCase() }}-{{ asiento.val }}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'productos'">
      <h2>Selecciona tu snack</h2>
      
      <ion-card padding class="contenedor_producto" *ngFor="let producto of productos">
        <div>
          <div>
            <img class="imagen_producto" style="width: 100px; height: 100px;" src="{{ url }}imagen/producto/{{ producto.imagen }}?token={{ token }}">
          </div>
          
          <div>
            <p class="grande">{{ producto.nombre }}</p>
            <p>{{ producto.descripcion }}</p>
            <p><span class="precio_producto">$ {{ producto.precio }}</span></p>
          </div>
        </div>
      
        <div class="row" justify-content-center>
          <div class="row" justify-content-center align-items-center>
            <button ion-button clear icon-only (click)="cantidadProducto(producto.id, false)">
              <ion-icon name="remove-circle"></ion-icon>
            </button>
      
            <span>{{ producto.cantidad }}</span>
      
            <button ion-button clear icon-only (click)="cantidadProducto(producto.id, true)">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </div>
        </div>
      </ion-card>
    </div>

    <div *ngSwitchCase="'pago'" padding>
      <h2>Revisa tu pedido</h2>
      <div>
        <ion-list>
          <ion-item>
            <div class="info_pelicula_item">
              <p>Pelicula</p>
              <p>{{ funcion.pelicula.titulo }}</p>
            </div>
          </ion-item>
          <ion-item>
            <div class="info_pelicula_item">
              <p>Idioma</p>
              <p>{{ funcion.idioma }}</p>
            </div>
          </ion-item>
          <ion-item>
            <div class="info_pelicula_item">
              <p>Sala</p>
              <p>{{ funcion.sala }}</p>
            </div>
          </ion-item>
          <ion-item>
            <div class="info_pelicula_item">
              <p>Fecha</p>
              <p>{{ funcion.fecha }} a las {{ funcion.hora }}</p>
            </div>
          </ion-item>
          <ion-item>
            <div class="info_pelicula_item">
              <p>Boletos</p>
              <p>{{ pedido.boletos.length }}</p>
            </div>
          </ion-item>
          <ion-item>
            <div class="info_pelicula_item">
              <p>Productos</p>
              <div style="flex: 2;">
                <p style="color: #fff;" *ngFor="let producto of productos">
                  {{ producto.cantidad }}, {{ producto.nombre }}
                </p>
              </div>
            </div>
          </ion-item>
        </ion-list>
      
        <button ion-button full (click)="confirmarPedido(pelicula)">confirmar pedido</button>
      </div>
    </div>
  </div>
</ion-content>
