<ion-header>
  <ion-navbar>
    <ion-title>Pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <ion-card>
    <img src="{{ url }}imagen/pelicula/{{pedido.funcion.pelicula.image}}?token={{ token }}" />
    <div class="card-title">{{ pedido.funcion.pelicula.titulo }}</div>
    <div class="card-subtitle">{{ pedido.funcion.pelicula.director }}</div>
  </ion-card>
  
  <h2 color="#fff">Detalle del pedido</h2>
  <ion-list>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Pelicula</p>
        <p>{{ pedido.funcion.pelicula.titulo }}</p>
      </div>
    </ion-item>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Idioma</p>
        <p>{{ pedido.funcion.idioma }}</p>
      </div>
    </ion-item>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Sala</p>
        <p>{{ pedido.funcion.sala }}</p>
      </div>
    </ion-item>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Fecha</p>
        <p>{{ pedido.funcion.fecha }} a las {{ pedido.funcion.hora }}</p>
      </div>
    </ion-item>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Boletos</p>
        <div style="flex: 2;">
          <p style="color: #fff;" *ngFor="let boleto of boletos">
            <span *ngIf="boleto.cantidad > 0">
              {{ boleto.tipo }} x {{ boleto.cantidad }}
            </span>
          </p>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Productos</p>
        <div style="flex: 2;">
          <p style="color: #fff;" *ngFor="let producto of productos">
            <span *ngIf="producto.cantidad > 0">
              {{ producto.tipo }} x {{ producto.cantidad }}
            </span>
          </p>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Asientos</p>
        <div style="flex: 2;">
          <span style="color: #fff;" *ngFor="let asiento of asientos">
            {{ asiento.letter | uppercase }}{{ asiento.val }} 
          </span>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <h2>ESTADO: <span id="estado">{{ pedido.estado | uppercase }}</span></h2>
  
  <div id="contenedor_QR" *ngIf="pedido.estado != 'listo'">
    <qrcode [qrdata]="pedido._id" [size]="185" [level]="'M'">
    </qrcode>
  </div>
</ion-content>