<ion-header *ngIf="up.getIdentity()">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Cartelera</ion-title>
  </ion-navbar>
</ion-header>

<ion-header no-border-top *ngIf="!up.getIdentity()">
  <ion-toolbar>
    <ion-segment [(ngModel)]="log_page">
      <ion-segment-button value="login">
        Entrar
      </ion-segment-button>
      <ion-segment-button value="logup">
        Registrarse
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="up.getIdentity()">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-lg-12 *ngFor="let pelicula of peliculas">

          <ion-card>
            <img src="{{ url }}imagen/pelicula/{{pelicula.image}}?token={{ token }}">
            <ion-card-content>
              <ion-card-header>
                <p>{{ pelicula.titulo }}  |  {{ pelicula.duracion }}</p>
                <p>{{ pelicula.director }}</p>
              </ion-card-header>

              <ion-fab bottom right margin>
                <button ion-fab (click)="verDetallePelicula(pelicula)">
                  <ion-icon name="information"></ion-icon>
                </button>
              </ion-fab>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="!up.getIdentity()">
    <!-- <p style="font-size: 3rem; text-align: center;">{{ app_name }}</p> -->
    <div id="app_logo" class="row" justify-content-center>
      <img src="../../assets/imgs/cinematrix.png">
    </div>

    <div [ngSwitch]="log_page">
      <!-- Sección de login -->
      <div *ngSwitchCase="'login'">
        <form #loginForm="ngForm" (ngSubmit)="submitLogin()">
          <div class="field">
            <input type="email" placeholder="Correo" #email="ngModel" name="email" [(ngModel)]="user.email">
          </div>
    
          <div class="field">
            <input type="password" placeholder="Contraseña" #password="ngModel" name="password" [(ngModel)]="user.password">
          </div>
    
          <div padding>
            <button type="submit" ion-button block round>Entrar</button>
          </div>
        </form>
      </div>
    
      <!-- Sección de registro -->
      <div *ngSwitchCase="'logup'">
        <form #loginForm="ngForm" (ngSubmit)="submitRegister()">
          <div class="field">
            <input type="nombre" placeholder="Nombre" #nombre="ngModel" name="nombre" [(ngModel)]="user_register.nombre">
          </div>
    
          <div class="field">
            <input type="email" placeholder="Correo" #email="ngModel" name="email" [(ngModel)]="user_register.email">
          </div>
    
          <div class="field">
            <input type="password" placeholder="Contraseña" #password="ngModel" name="password" [(ngModel)]="user_register.password">
          </div>

          <div class="field">
            <input type="password" placeholder="Confirma tu contraseña" name="password" [(ngModel)]="repassword">
          </div>
    
          <div padding>
            <button type="submit" ion-button block round>Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
