<!--
  Generated template for the QrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ver Pedido</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <qrcode 
    [qrdata]="IdPedidoQR"
    [size]="256"
    [level]="'M'"
    [colorlight]="'#191919'"
    [colordark]="'#E53E43'"
  >
  </qrcode>

  <!-- <h2>Tu pedido</h2>
  <div>
    <ion-list>
      <ion-item>
        <div class="info_pelicula_item">
          <p>Pelicula</p>
          <p>{{ funcion.pelicula.titulo }}</p>
        </div>
      </ion-item>
      <ion-item>
        <div class="info_pelicula_item">
          <p>Idioma</p>
          <p>{{ funcion.idioma }}</p>
        </div>
      </ion-item>
      <ion-item>
        <div class="info_pelicula_item">
          <p>Sala</p>
          <p>{{ funcion.sala }}</p>
        </div>
      </ion-item>
      <ion-item>
        <div class="info_pelicula_item">
          <p>Fecha</p>
          <p>{{ funcion.fecha }} a las {{ funcion.hora }}</p>
        </div>
      </ion-item>
      <ion-item>
        <div class="info_pelicula_item">
          <p>Boletos</p>
          <div style="flex: 2;">
            <p style="color: #fff;" *ngFor="let boleto of boletosSeleccionados">
              <span *ngIf="boleto.cantidad > 0">
                {{ boleto.nombre }}, {{ boleto.cantidad }}
              </span>
            </p>
            <p *ngIf="boletosSeleccionados.length == 0">
              N/A
            </p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="info_pelicula_item">
          <p>Productos</p>
          <div style="flex: 2;">
            <p style="color: #fff;" *ngFor="let producto of productosSeleccionados">
              <span *ngIf="producto.cantidad > 0">
                {{ producto.nombre }}, {{ producto.cantidad }}
              </span>
            </p>
            <p *ngIf="productosSeleccionados.length == 0">
              N/A
            </p>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="info_pelicula_item">
          <p>IVA (16 %)</p>
          <p>$ {{ pedido.iva }}</p>
        </div>
      </ion-item>
    </ion-list>
    <p id="total_pagar">Total: $ {{ pedido.monto }}</p>
  </div> -->
</ion-content>
