page-qr {
    .info_pelicula_item {
        display: flex;

        & > p {
            &:first-child {
                flex: 1;
                color: color($colors, primary, base) !important;
            }

            &:last-child {
                flex: 2;
            }
        }

        & p {
            color: #fff !important;
            white-space: initial !important;
        }
    }

    #contenedor_QR {
        // background: color($colors, primary, base);
        padding: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .texto_rojo {
        color: color($colors, primary, base);
    }
}
