<ion-header>
  <ion-navbar>
    <ion-title>Atender Pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Atendiendo a <span class="primary">{{ pedido.usuario.nombre }}</span></h3>
  <p class="idUsuario">ID: {{ pedido.usuario._id }}</p>

  <p color="#fff">Detalle del pedido</p>
  <ion-list>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Pelicula</p>
        <p>{{ pedido.funcion.pelicula.titulo }}</p>
      </div>
    </ion-item>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Idioma</p>
        <p>{{ pedido.funcion.idioma }}</p>
      </div>
    </ion-item>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Sala</p>
        <p>{{ pedido.funcion.sala }}</p>
      </div>
    </ion-item>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Fecha</p>
        <p>{{ pedido.funcion.fecha }} a las {{ pedido.funcion.hora }}</p>
      </div>
    </ion-item>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Boletos</p>
        <div style="flex: 2;">
          <p style="color: #fff;" *ngFor="let boleto of boletos">
            <span *ngIf="boleto.cantidad > 0">
              {{ boleto.tipo }} x {{ boleto.cantidad }}
            </span>
          </p>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Productos</p>
        <div style="flex: 2;">
          <p style="color: #fff;" *ngFor="let producto of productos">
            <span *ngIf="producto.cantidad > 0">
              {{ producto.tipo }} x {{ producto.cantidad }}
            </span>
          </p>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="info_pelicula_item">
        <p>Asientos</p>
        <div style="flex: 2;">
          <span style="color: #fff;" *ngFor="let asiento of asientos">
            {{ asiento.letter | uppercase }}{{ asiento.val }}
          </span>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <h2 id="pagado_txt">PAGADO</h2>

  <button ion-button block (click)="pedidoAtendido(pedido._id)">
    terminado
  </button>
</ion-content>
