page-funciones {
    .item-md p {
        color: #fff
    }

    .grande {
        font-size: 2rem;
    }

    span.important {
        color: color($colors, primary, base);
        font-weight: bolder;
    }
}
