page-funciones {
    .item-md p {
        color: #fff
    }

    .grande {
        font-size: 1.3rem;
    }

    .important {
        color: color($colors, primary, base);
        font-weight: bolder;
    }

    .contenedor_funcion {
        display: flex;
        justify-content: space-around;
    }
}
